API_URL_SERVER=
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_API_READ_KEY=

NEXTAUTH_SECRET=
JWT_SECRET=
DATABASE_URL=
WG_API_URL=
WG_API_TOKEN=
INTERNAL_API_TOKEN=
API_READ_KEY=

YOOKASSA_ID=
YOOKASSA_API_KEY=
YOOKASSA_CALLBACK_URL=
CRON_SECRET_KEY=